{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off",
    "react/jsx-filename-extension": ["off", { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["noHref", "preferButton"]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "every": ["id"]
        },
        "allowChildren": false
      }
    ]
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ]
}
